.boudoir {
    color: white;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.boudoir > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boudoir > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn > h3 {
    padding-bottom: 40px;
    font-size: 16px;
    text-align: center;
}

.btn-boudoir {
    margin-right: 15px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 14px;
    
}

.btn-boudoir:link {
    text-decoration: none;
}
.control-btn {}

.toHome {
    border: 1px solid rgb(51, 217, 194);
    color: rgb(51, 217, 194);
}
.toHome:hover {
    border: 1px solid rgb(51, 217, 194);
    background-color: rgb(51, 217, 194);  
    color: black; 
}
.toAbout {
    border: 1px solid rgb(236, 0, 92);
    color: rgb(236, 0, 92);
}
.toAbout:hover {
    border: 1px solid rgb(236, 0, 92);
    background-color: rgb(236, 0, 92);
    color: black;
}
.toProject {
    border: 1px solid rgb(147, 71, 180);
    color: rgb(147, 71, 180);
}
.toProject:hover {
    border: 1px solid rgb(147, 71, 180);
    background-color: rgb(147, 71, 180);
    color: black;
}
.toContact {
    border: 1px solid rgb(255, 204, 0);
    color: rgb(255, 204, 0);
}
.toContact:hover {
    border: 1px solid rgb(255, 204, 0);
    background-color: rgb(255, 204, 0);
    color: black;
}