.gif-container{
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    animation: logo-animated 6s ease-in-out 1;
    position: absolute;
    z-index: 0;
    top: -100vh;
    z-index: 2;
}

@keyframes logo-animated {
    from {
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;

    }
    85%{
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        scale: 1;

    }
    to {
        opacity: 0;
        position: absolute;
        top: 0;
        left:0;
        scale: 0;
    }
}