.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;   
    background:var(--light); 
    height: 5vh;
}
.footer > h2 { 
    font-size: 14px;
}