.hall {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/src/img/light.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;    
}

.hall-link {
    font-size: 4rem;
    color: white;
    
}
.hall-link:hover {
    color:black;
}

.hall-project {
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
}

.hall-about {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-90deg);    
    color: white;
}


.hall-contact {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%) rotate(-90deg);
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content > h1 {
    letter-spacing: 1.5px;
}

.content > .presentation > h2 {
    -webkit-text-stroke: 1px black;
    color:transparent;
    letter-spacing: 1.5px;
}


i {
    color: black;   
    margin: 1.5rem .5rem; 
}

