.homescreen {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 

}
.homescreen h1 {
    display: flex; 
    justify-content: flex-start;
    transition: 10s ease-in;
    text-transform: uppercase;
    font-size: 3rem;
    width: 100%;
    margin-bottom: 2rem;
    /* color: black; */
}

.eat {
    animation-name: eat;
    animation-delay: 3.5s;
    animation-duration: 5s;
    color: white;
}
@keyframes eat {
    from{
        opacity: 0;
        color: black; 
        position: relative;
        top: -100vh;    
        z-index: -10;   
    }
    95% {
        opacity: 1;
        color: white;
    }
    to {
        opacity: 1;
        color: white!important;
    }
}

.code {
    animation-name: code;
    animation-delay: 4s;
    animation-duration: 5s;
    color: white;
}
@keyframes code {
    from{
        opacity: 0;
        color: black; 
        position: relative;
        top: -100vh;       
    }
    95% {
        opacity: 1;
        color: white;
    }
    to {
        opacity: 1;
        color: white!important;
    }
}

.sleep {
    animation-name: sleep;
    animation-delay: 4.5s;
    animation-duration: 5s;
    color: white;
}
@keyframes sleep {
    from{
        opacity: 0;
        color: black; 
        position: relative;
        top: -100vh;    
        z-index: -10;   
    }
    95% {
        opacity: 1;
        color: white;
    }
    to {
        opacity: 1;
        color: white!important;
    }
}

.repeat {
    animation-name: repeat;
    animation-delay: 5s;
    animation-duration: 5s;
    color: white;
}
@keyframes repeat {
    from{
        opacity: 0;
        color: black; 
        position: relative;
        top: -100vh;    
        z-index: -10;   
    }
    98% {
        opacity: 1;
        color: white;
    }
    to {
        opacity: 1;
        color: white!important;
    }
}